<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="btn btn-link" href="{% url 'index' %}">Home</a>
    <div class="container-sm p-5">
        <h1 class="text-center mb-5">Halal standarts</h1>
        <p>On behalf of International FoodChain LLC, a company that is a KFC franchise partner in the Republic of Uzbekistan, we declare with full responsibility that all dishes we cook in our restaurants fully comply with Halal international standards, which is confirmed by certificates issued by the International Center for Standardization and Halal Certification after the strictest inspection of compliance with all standards.</p>

        <p>If you want to get more details about the Center please go to: https://halalcenter.ru/</p>
            
<p>            This inspection was carried out for all stages of cooking, from the stage of suppliers to the stage of serving the dish in the restaurant.
</p>            
<p>            Ingredients for cooking, personnel, production sites, equipment, storage and cooking conditions meet all Halal standards. Our chicken meat from suppliers Saxovat Broyler and Safi also have valid Halal certificates.
</p>            
<p>            Our company always cares about the guests, and therefore, in addition to complying with the strictest international quality standards, it is important for us to strictly comply with Halal standards and to offer our guests not only tasty and food-safe food, but also the food that complies with Halal rules. We value each of our guests, and therefore, these standards have been observed, are observed and will be strictly observed.
</p>            
             
<p>            Find below the Halal Certificates for each of our restaurants</p>
</p>            
    </div>
</body>
</html>